@font-face {
  font-family: 'Montserrat';
  src:
  url('../fonts/Montserrat.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'NunitoSans';
    src: url("../fonts/NunitoSans.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}